button {
  height: auto;
  background-color: #1c6ea4;
  color: #ffffff;
  padding: 1rem;
  cursor: pointer;
  border: 5px solid #1c6ea4;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin-right: 1rem;
  font-size: 1rem;
}
