<label>{{ label }} <span *ngIf="required">*</span></label>
<input
  [type]="type"
  [placeholder]="label"
  [value]="value"
  [disabled]="disabled"
  (input)="onChange($event.target.value)"
  (blur)="onTouched()"
/>

<div
  *ngIf="
    (this.ngControl.touched && this.ngControl.hasError('required')) || required
  "
  class="error"
>
  {{ label }} is required
</div>

<div
  *ngIf="this.ngControl.touched && this.ngControl.hasError('email')"
  class="error"
>
  {{ label }} is not formatted correctly
</div>
